<footer id="wm-footer" class="footer-two">
  <!--<div class="wm-footer-widgets">
    <div class="container">
      <div class="row">
        <aside class="col-md-4 widget widget_slider">
          <div class="wm-footer-widget-title"><h2>Don’t miss this:</h2></div>
          <div class="widget_slider_wrap slick-initialized slick-slider">
            <span
              class="ec-bgcolor slick-arrow-left slick-arrow"
              style="display: block"
              ><i class="flaticon-arrows"></i
            ></span>
            <div aria-live="polite" class="slick-list draggable">
              <div
                class="slick-track"
                style="opacity: 1; width: 1348px; left: -337px"
                role="listbox"
              >
                <div
                  class="widget_slide_layer slick-slide slick-cloned"
                  data-slick-index="-1"
                  aria-hidden="true"
                  style="width: 337px"
                  tabindex="-1"
                >
                  <img src="extra-images/widget-slider-1.jpg" alt="" />
                </div>
                <div
                  class="
                    widget_slide_layer
                    slick-slide slick-current slick-active
                  "
                  data-slick-index="0"
                  aria-hidden="false"
                  style="width: 337px"
                  tabindex="-1"
                  role="option"
                  aria-describedby="slick-slide00"
                >
                  <img src="extra-images/widget-slider-1.jpg" alt="" />
                </div>
                <div
                  class="widget_slide_layer slick-slide"
                  data-slick-index="1"
                  aria-hidden="true"
                  style="width: 337px"
                  tabindex="-1"
                  role="option"
                  aria-describedby="slick-slide01"
                >
                  <img src="extra-images/widget-slider-1.jpg" alt="" />
                </div>
                <div
                  class="widget_slide_layer slick-slide slick-cloned"
                  data-slick-index="2"
                  aria-hidden="true"
                  style="width: 337px"
                  tabindex="-1"
                >
                  <img src="extra-images/widget-slider-1.jpg" alt="" />
                </div>
              </div>
            </div>

            <span
              class="ec-bgcolor slick-arrow-right slick-arrow"
              style="display: block"
              ><i class="flaticon-arrows"></i
            ></span>
          </div>
          <h4>
            Photo Recap: Charles Jemmington @
            <span>Joy Theater New Orleans</span> on 25/04/16
          </h4>
        </aside>
        <aside class="col-md-4 widget widget_artists">
          <div class="wm-footer-widget-title"><h2>featured artists:</h2></div>
          <ul>
            <li>
              <figure>
                <a href="artist-single.html"
                  ><img src="extra-images/artist-widget-1.jpg" alt=""
                /></a>
              </figure>
              <section class="wm-newsinfo">
                <h3>
                  <a href="artist-single.html">Annie B. Myers – Pop Singer</a>
                </h3>
                <a href="artist-single.html">9 Albums on Sale</a>
                <div class="clearfix"></div>
              </section>
            </li>
            <li>
              <figure>
                <a href="artist-single.html"
                  ><img src="extra-images/artist-widget-2.jpg" alt=""
                /></a>
              </figure>
              <section class="wm-newsinfo">
                <h3>
                  <a href="artist-single.html"
                    >Chris R. Gonzalez – Soul Singer</a
                  >
                </h3>
                <a href="artist-single.html">7 Albums on Sale</a>
                <div class="clearfix"></div>
              </section>
            </li>
            <li>
              <figure>
                <a href="artist-single.html"
                  ><img src="extra-images/artist-widget-3.jpg" alt=""
                /></a>
              </figure>
              <section class="wm-newsinfo">
                <h3>
                  <a href="artist-single.html">Ralph L. Franz – Rock Band</a>
                </h3>
                <a href="artist-single.html">8 Albums on Sale</a>
                <div class="clearfix"></div>
              </section>
            </li>
          </ul>
        </aside>
        <aside class="col-md-4 widget widget_weekstracks">
          <div class="wm-footer-widget-title"><h2>this week’s tracks:</h2></div>
          <ul>
            <li>
              <time datetime="2008-02-14 20:00">/01</time>
              <section class="wm-weekstracks-text">
                <h5>
                  <a href="album-single-post.html"
                    >Of All Things (feat. Too $hort) Top 100 Uk</a
                  >
                </h5>
                <span class="wm-color">201.123 listeners</span>
              </section>
            </li>
            <li>
              <time datetime="2008-02-14 20:00">/02</time>
              <section class="wm-weekstracks-text">
                <h5>
                  <a href="album-single-post.html"
                    >Everything Will Be OK (feat. Kehlani) Top 100 Uk</a
                  >
                </h5>
                <span class="wm-color">176.009 listeners</span>
              </section>
            </li>
            <li>
              <time datetime="2008-02-14 20:00">/03</time>
              <section class="wm-weekstracks-text">
                <h5>
                  <a href="album-single-post.html"
                    >Some Kind of Drug (feat. Marc Bass) Top 100 Uk</a
                  >
                </h5>
                <span class="wm-color">101.865 listeners</span>
              </section>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>-->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wm-footer-bottom-section">
          <div class="row">
            <div class="col-md-8">
              <div class="wm-newslatter-section">
                <div class="wm-footer-widget-title">
                  <h2>subscribe to our newsletter:</h2>
                </div>
                <form>
                  <input
                    type="text"
                    value="Your Email Address"
                    onblur="if(this.value == '') { this.value ='Your Email Address'; }"
                    onfocus="if(this.value =='Your Email Address') { this.value = ''; }"
                  />
                  <input
                    type="submit"
                    value="Subscribe Now"
                    class="wm-color wm-bordercolor"
                  />
                </form>
              </div>
            </div>
            <div class="col-md-4">
              <div class="wm-footer-social-media">
                <ul class="wm-footer-icons">
                  <li>
                    <a href="https://mobile.twitter.com/"
                      ><i class="flaticon-social-2"></i> twitter</a
                    >
                  </li>
                  <li>
                    <a href="https://www.facebook.com/"
                      ><i class="flaticon-social-1"></i> facebook</a
                    >
                  </li>
                  <li>
                    <a href="https://www.spotify.com/int/why-not-available/"
                      ><i class="flaticon-social-3"></i> spotify</a
                    >
                  </li>
                  <li>
                    <a href="http://musicbeats.net/"
                      ><i class="flaticon-shape"></i> Musicbeat</a
                    >
                  </li>
                </ul>
                <p>
                  © 2016, All Right <a href="index.html">Reserved</a> - by
                  <a href="index.html">WebMarce</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="wm-footer-player">
    <div
      id="jquery_jplayer_2"
      class="jp-jplayer"
      style="width: 0px; height: 0px"
    >
      <img
        id="jp_poster_0"
        style="width: 0px; height: 0px; display: none"
      /><audio
        id="jp_audio_0"
        preload="metadata"
        src="http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3"
        title="Catch &amp; Release (Deepend Remix) <span>05:44</span>"
      ></audio>
    </div>
    <div
      id="jp_container_2"
      class="jp-audio jp-state-looped"
      role="application"
      aria-label="media player"
    >
      <div class="jp-type-playlist">
        <div class="jp-playlist">
          <ul
            style="
              overflow: hidden;
              outline: none;
              cursor: grab;
              display: block;
            "
            tabindex="0"
          >
            <li class="jp-playlist-current">
              <div>
                <a
                  href="javascript:;"
                  class="jp-playlist-item-remove"
                  style="display: none"
                  >×</a
                ><a
                  href="javascript:;"
                  class="jp-playlist-item jp-playlist-current"
                  tabindex="0"
                  >Catch &amp; Release (Deepend Remix) <span>05:44</span></a
                >
              </div>
            </li>
            <li>
              <div>
                <a
                  href="javascript:;"
                  class="jp-playlist-item-remove"
                  style="display: none"
                  >×</a
                ><a href="javascript:;" class="jp-playlist-item" tabindex="0"
                  >Of All Things (feat. Too $hort) <span>05:44</span></a
                >
              </div>
            </li>
            <li>
              <div>
                <a
                  href="javascript:;"
                  class="jp-playlist-item-remove"
                  style="display: none"
                  >×</a
                ><a href="javascript:;" class="jp-playlist-item" tabindex="0"
                  >Order More (feat. Starrah) <span>05:44</span></a
                >
              </div>
            </li>
            <li>
              <div>
                <a
                  href="javascript:;"
                  class="jp-playlist-item-remove"
                  style="display: none"
                  >×</a
                ><a href="javascript:;" class="jp-playlist-item" tabindex="0"
                  >Drifting (feat. Chris Brown &amp; Tory Lanez)
                  <span>05:44</span></a
                >
              </div>
            </li>
            <li>
              <div>
                <a
                  href="javascript:;"
                  class="jp-playlist-item-remove"
                  style="display: none"
                  >×</a
                ><a href="javascript:;" class="jp-playlist-item" tabindex="0"
                  >The Entertainer (Sample) by Stephanie Quinn
                  <span>05:44</span></a
                >
              </div>
            </li>
            <li>
              <div>
                <a
                  href="javascript:;"
                  class="jp-playlist-item-remove"
                  style="display: none"
                  >×</a
                ><a href="javascript:;" class="jp-playlist-item" tabindex="0"
                  >The Entertainer (Sample) by Stephanie Quinn
                  <span>05:44</span></a
                >
              </div>
            </li>
            <li>
              <div>
                <a
                  href="javascript:;"
                  class="jp-playlist-item-remove"
                  style="display: none"
                  >×</a
                ><a href="javascript:;" class="jp-playlist-item" tabindex="0"
                  >The Entertainer (Sample) by Stephanie Quinn
                  <span>05:44</span></a
                >
              </div>
            </li>
            <li>
              <div>
                <a
                  href="javascript:;"
                  class="jp-playlist-item-remove"
                  style="display: none"
                  >×</a
                ><a href="javascript:;" class="jp-playlist-item" tabindex="0"
                  >The Entertainer (Sample) by Stephanie Quinn
                  <span>05:44</span></a
                >
              </div>
            </li>
          </ul>
          <div
            id="ascrail2000"
            class="nicescroll-rails nicescroll-rails-vr"
            style="
              width: 6px;
              z-index: auto;
              background: rgb(128, 128, 128);
              cursor: grab;
              position: absolute;
              top: 28px;
              left: -6px;
              height: 260px;
              opacity: 1;
              display: none;
            "
          >
            <div
              class="nicescroll-cursors"
              style="
                position: relative;
                top: 0px;
                float: right;
                width: 6px;
                height: 0px;
                background-color: rgb(225, 225, 225);
                border: 0px;
                background-clip: padding-box;
                border-radius: 20px 20px 0px 0px;
              "
            ></div>
          </div>
          <div
            style="
              cursor: pointer;
              z-index: auto;
              background-image: url('https://webmarce.com/html/musicbeat/script/zoomico.png');
              height: 18px;
              width: 18px;
              background-position: 0px 0px;
              position: absolute;
              top: 29px;
              left: -26px;
            "
          ></div>
          <div
            id="ascrail2000-hr"
            class="nicescroll-rails nicescroll-rails-hr"
            style="
              height: 6px;
              z-index: auto;
              background: rgb(128, 128, 128);
              top: 254px;
              left: 0px;
              position: absolute;
              opacity: 1;
              display: none;
            "
          >
            <div
              class="nicescroll-cursors"
              style="
                position: absolute;
                top: 0px;
                height: 6px;
                width: 0px;
                background-color: rgb(225, 225, 225);
                border: 0px;
                background-clip: padding-box;
                border-radius: 20px 20px 0px 0px;
              "
            ></div>
          </div>
        </div>
        <div class="jp-gui jp-interface">
          <span class="jp-stop wm-bgcolor"><i class="flaticon-power"></i></span>
          <div id="current-track1" class="song-title">Catch &amp; Release</div>
          <div class="jp-controls">
            <span class="jp-shuffle"><i class="flaticon-arrows-2"></i></span>
            <span class="wm-bgcolor-one jp-previous"
              ><i class="flaticon-arrows-1"></i
            ></span>
            <span class="jp-play"
              ><i class="fa fa-pause"></i> <i class="fa fa-play"></i
            ></span>
            <span class="wm-bgcolor-one jp-next"
              ><i class="flaticon-arrows-1"></i
            ></span>
            <span class="jp-repeat"><i class="flaticon-arrows-3"></i></span>
          </div>
          <div class="wm-player-wrap">
            <div class="jp-progress">
              <div class="jp-seek-bar" style="width: 100%">
                <div class="jp-play-bar" style="width: 0%"></div>
              </div>
            </div>
            <div class="jp-volume-controls">
              <span class="jp-mute"
                ><i class="fa fa-volume-up"></i> <i class="fa fa-volume-off"></i
              ></span>
              <div class="jp-volume-bar">
                <div class="jp-volume-bar-value" style="width: 80%"></div>
              </div>
            </div>
          </div>
          <a href="#" class="wm-playlist-btn"
            ><i class="flaticon-music-1"></i
          ></a>
        </div>
      </div>
    </div>
  </div>-->
</footer>
