<div class="wm-mini-header">
  <span class="wm-black-transparent"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wm-page-heading">
          <h1>{{ breadcrumb.title }}</h1>
          <p>{{ breadcrumb.text }}</p>
        </div>
        <div class="clearfix"></div>
        <ul class="wm-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>{{ breadcrumb.link }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
